[submodule "vim/pack/colors/start/oceanic-next"]
	path = vim/pack/colors/start/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/colors/start/vim-mac-classic-theme"]
	path = vim/pack/colors/start/vim-mac-classic-theme
	url = https://github.com/egorhm/vim-mac-classic-theme.git
